<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<% for (var i = 0; i < config.css.length; i++) { %>
	<link rel="stylesheet" type="text/css" href="/css/<%= config.css[i] %>">
	<% }; %>
	<% for (var i = 0; i < config.js.length; i++) { %>
	<script src="/js/<%= config.js[i] %>"></script>
	<% }; %>
	<% if (locals.js) { for (var i = 0; i < js.length; i++) { %>
	<script src="/js/<%= js[i] %>"></script>
	<% }}; %>
	<% if (locals.extjs) { for (var i = 0; i < extjs.length; i++) { %>
	<script src="<%= extjs[i] %>"></script>
	<% }}; %>
	<% if (locals.title) { %>
	<title><%= config.title + " - " + title %></title>
	<% } else { %>
	<title><%= config.title %></title>		
	<% }; %>
</head>
<body>
<div class="container">
<div class="col-md-12">
	<nav id="navbar" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">토글 내비게이션</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<% if (locals.user) { %>
				<% if (locals.project) { %>
				<a class="navbar-brand" href="/p/<%= project.url %>"><%= config.title %>/<%= project.name %></a>
				<% } else {  %>
				<a class="navbar-brand" href="/dashboard"><%= config.title %></a>
				<% }; %>
				<% } else {  %>
				<a class="navbar-brand" href="/"><%= config.title %></a>
				<% }; %>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<!--<li><a href="#">Link</a></li>-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if (locals.user) { %>
					<li><a href="/user/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %></a></li>
					<% } else {  %>
					<li><a href="/user/login">로그인</a></li>
					<% }; %>
				</ul>
			</div>
		</div>
	</nav>
</div>