<% include layout_header %>
<% include layout_project_sidebar %>
<script>
	var room = '<%=room%>';
	var scr_num = 0; //스크롤할 곳 추적용
	var temp_ballon = -1; //파일첨부 로딩창 추적용
	var thumbnail; //썸네일 이미지 저장소
</script>
<div class="col-md-10">
	<!--<h3>닉네임 : <script>document.write(name);</script></h3>-->
	<div id="chattingWindow">
		<div class="room">
			<!--대화 내용-->
		</div>
		<div class="afterMessage"> ↓ 추가 메시지 : 0개 </div>
		<div class="control">
			<form name="multiform" id="multiform" action="/files" enctype="multipart/form-data" method="POST">
				<div class="form-group image-upload">
					<label for="file">
						<img src="/imgs/placeholder.jpg" width="40px"/>
					</label>
					<input type="file" id="file" name="uploadFile"/>
				</div>
				<!--<input class="btn btn-default" type="submit" value="업로드" />-->
			</form>
			<!--말할수 있는 부분-->
			<form action="#" id="cf">
				<input type="text" class="inputText" id="type"/>
			</form>
		</div>
	</div>
	<script type="text/javascript">
	$('body').ready(function () {$('#type').focus();});
	$('body').keydown(function () {$('#type').focus();});
		var socket = io.connect('ws://<%= ws_addr %>:81');
		socket.emit('join_the_room', {room:'<%=room%>', name:'<%= user.name %>'});
		socket.on('receive_msg', function(data) {
			++scr_num;
			var className = "ballon me " + scr_num;
		//$('.j-message').append(data.message + '<br>');
		if(data.rel == 'me') {
			className = "ballon me scr_offset" + scr_num;
		}
		else if(data.rel == 'another') {
			className = "ballon scr_offset" + scr_num;
		}
		else {
			className = "system scr_offset" + scr_num;
		}
		if(data.type == "File") {
			//socket.emit('sendMessage', {fileName: s.originalname, path: s.filename, room:'<%=room%>', name:name, type:'File'});
			$('#chattingWindow .room').append("<div class='"+className+"'>"+"<a target='_blank' href='/files/"+data.path+"'><span class=\"glyphicon glyphicon-file\" aria-hidden=\"true\"></span> "+data.fileName+"</a></div>");
		} else {
			$('#chattingWindow .room').append("<div class='"+className+"'>"+data.message+"</div>");
		}


		//적절한 위치로 스크롤
		$('.scr_offset'+scr_num).ScrollTo({
			duration: 500,
			easing: 'linear'
		});
	});


		$('#cf').submit(function (event) {
			event.preventDefault();
			if($('#type').val() == "")
				return;
			var str = $('#type').val();
			socket.emit('sendMessage', {message:str, room:'<%=room%>', name:'<%= user.name %>', type:'plainText'});
		$('#type').val("");
		});

		var cnt;
		var isUpdated = true;
		//파일 전송 프로그레스 처리용
		(function() {

			//var bar = $('.bar');
			//var percent = $('.percent');
			//var status = $('#status');

			$('#multiform').ajaxForm({
				beforeSend: function() {
					if(!isUpdated ) {
						alert('죄송합니다. 기능상의 문제로 하나씩 업로드가 가능합니다. 취소하려면 X버튼을 눌러 업로드를 중지하세요.');
						$(this).abort();
					}
					$("form").each(function() {
						if(this.id == "multiform") this.reset();
					});
					isUpdated = false;
					++temp_ballon;
					var className = 'ballon me tmp' + temp_ballon;
					cnt = $("<div class='"+className+"'>파일을 전송 중입니다..<br>image.jpg (0%)</div>").appendTo('#chattingWindow .room');
					//status.empty();
					//var percentVal = '0%';
					//bar.width(percentVal)
					//percent.html(percentVal);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					var percentVal = percentComplete + '%';
					cnt.html('<img src="'+thumbnail+'" width="50"/> 파일을 전송 중입니다..<br>image.jpg ('+ percentVal+')');
					//bar.width(percentVal)
					//percent.html(percentVal);
				},
				success: function() {
					var percentVal = '100%';
					cnt.html('전송이 완료되었어요!');
					//bar.width(percentVal)
					//percent.html(percentVal);
				},
				complete: function(xhr) {
					//status.html(xhr.responseText);
					cnt.remove();
					isUpdated = true;
					var s = JSON.parse(xhr.responseText);
					socket.emit('sendMessage', {fileName: s.originalname, path: s.filename, room:'<%=room%>', name:'<%= user.name %>', type:'File'});
				}
			});

		})();


	if (window.FileReader) {
		function handleFileSelect(evt) {
			var files = evt.target.files;
			var f = files[0];
			var reader = new FileReader();

			reader.onload = (function(theFile) {
				return function(e) {
					//document.getElementById('list').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" width="50"/>'].join('');
					thumbnail = e.target.result;
					$("#multiform").submit();
				};
			})(f);

			reader.readAsDataURL(f);
		}
	} else {
		alert('This browser does not support FileReader');
	}
	document.getElementById('file').addEventListener('change', handleFileSelect, false);
	</script>

</div>
<% include layout_footer %>
