<% include layout_header %>
<% include layout_project_sidebar %>

<div class="col-md-10" ng-app>
	<h1>메모장</h1>
	<label class="sr-only" for="inputMemo">메모 내용 추가</label>
	<form id="memojang" method="post">
		<input type="text" id="inputMemo" class="form-control" aria-describedby="helpBlock" ng-model="memocontext" ng-maxlength="140" placeholder="메모할 내용을 입력해 주세요" maxlength="140" />
		<p class="text-right">{{memocontext.length||0}}/140</p>
		<div class="color-pickers">
			<div class="color-pick darkblue" onclick="s('darkblue')"></div>
			<div class="color-pick green" onclick="s('green')"></div>
			<div class="color-pick yellow" onclick="s('yellow')"></div>
			<div class="color-pick red" onclick="s('red')"></div>
			<div class="color-pick blue" onclick="s('blue')"></div>
		</div>
	</form>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>List</th>
		</thead>
		<tbody class="memo_list">
			<tr class="loading">
				<td colspan="3" class="text-center">불러오는 중...</td>
			</tr>
			<tr class="load_new">
				<td colspan="3" class="text-center"><a class="load" href='#'>더 불러오기</a></td>
			</tr>
			<tr class="final hidden">
				<td colspan="3" class="text-center">메모의 끝</td>
			</tr>
		</tbody>
	</table>
</div>
<script>
	var selected = 'blue';
	var currentPage = 0;
	var isEnd = false;
	$('body').ready(function() {
		get();
		$('#inputMemo').focus();
		$('.blue').css('border', '3px solid');
	});

	$('body').keydown(function() {$('#inputMemo').focus();});

	$('#memojang').submit(function() {
		if($('#inputMemo').val() !== "") {
			$.ajax({
				type: 'post',
				url:'/p/<%= project.url %>/memo',
				data: {
					color: selected,
					content: $('#inputMemo').val(),
					_csrf: '<%=csrfToken%>'
				}, success: function(data) {
					$('tr:eq(1)').before(render(data.id, selected, '<%= user.name %>', htmlspecialchars($('#inputMemo').val()), 0));
					$('#inputMemo').val('');
				}
			});
		}
		return false;
	});

	$('tr.load_new a.load').click(function() {
		get();
		return false;
	});

	function s(v) {
		$('.darkblue').css('border', 'none');
		$('.green').css('border', 'none');
		$('.yellow').css('border', 'none');
		$('.red').css('border', 'none');
		$('.blue').css('border', 'none');
		$('.' +  v).css('border', '3px solid');
		selected = v;
	};

	function render(id, color, name, content, is_finished) {
		var chk = is_finished ? "checked" : "";
		var colorObject = {
			'darkblue': 'info',
			'green': 'success',
			'yellow': 'warning',
			'red': 'danger',
			'blue': 'active'
		}
		return '<tr class="' + colorObject[color] + '"  onclick="sf('+ id +');"><td><input type="checkbox" class="memo_' + id + ' onclick="return false; ' + chk + '/>&nbsp;&nbsp;<b>'+ name + '</b> ' + content.autoLink({ target: "_blank"}) + '</td></tr>';
	}

	function sf(mid) {
		$.ajax({
			type: 'post',
			url:'/p/<%= project.url %>/memo/check/' + mid,
			data: {
				_csrf: '<%=csrfToken%>'
			},
			success:function(data){
				$('.memo_' + mid).attr("checked", data.is_finished);
			}
		});
	}

	function get() {
		$('tr.loading').removeClass('hidden');
		$.ajax({
			type: 'post',
			url:'/p/<%= project.url %>/memo/' + (++currentPage),
			data: {
				_csrf: '<%=csrfToken%>'
			},
			success: function(data) {
				if (data.status == 'success') {
					$('tr.loading').addClass('hidden');
					if (data.memo.length < 10) {
						isEnd = true;
						$('tr.final').removeClass('hidden');
						$('tr.load_new').addClass('hidden');
					}
					for (var i = 0; i < data.memo.length; i++) {
						$('tr.load_new').before(render(data.memo[i].memo_id, data.memo[i].color, data.memo[i].name, data.memo[i].content, data.memo[i].is_finished));
					};
				};
			}
		});
	};
	
	$(window).load(function() {
		$(window).scroll(function() {
			if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
				if (!isEnd && $('tr.loading').hasClass('hidden')) {
					get();
				}
			}
		});
	});
</script>
<% include layout_footer %>